<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Description	Praja Sakti Group berkomitmen menghadirkan hunian yang berkualitas di lokasi strategis dengan akses yang mudah dan harga terjangkau.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <div class="circle-wrapper">
                                    <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                                </div>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Grand Dawuan CIty</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Grand Dawuan City menawarkan konsep kota dengan perumahan modern dan fresh di kota Dawuan Karawang. Dengan lokasi yang strategis, serta fasilitas yang lengkap. Grand Dawuan City menjadikan pilihan terbaik untuk rumah impian Anda dan keluarga.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <div class="circle-wrapper">
                                    <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                                </div>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Neo Green Terrace</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Neo Green Terrace menawarkan hunian dengan konsep perumahan modern yang memadukan kesan elegan dan nuansa segar. Dirancang untuk menciptakan kenyamanan maksimal, setiap unit rumah memiliki desain yang stylish dengan sentuhan kontemporer.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <div class="circle-wrapper">    
                                    <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                                </div>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Kebun Kembang Asri</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Kebun Kembang Asri menawarkan hunian yang dapat diakses dari berbagai jalur utama, 10 menit dari exit tol cikampek. Jalanan yang lebar memudahkan Anda beraktifitas.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>